.footer-media__sub-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    font-weight: 700;

    color: $backgroundMain;
}